body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('renovate-building.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.blur{
    filter: blur(5px);
}

.title-container {
    position: absolute;
    top: 20%;
    text-align: center;
    width: 100%;
}

h1 {
    font-size: 7rem;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.button-container {
    position: absolute;
    bottom: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 120px;
}

button {
    padding: 15px 30px;
    font-size: 1.5rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-guest {
    background-color: #4CAF50;
    color: white;
}

.btn-owner {
    background-color: #2196F3;
    color: white;
}

button:hover {
    opacity: 0.9;
}
