.detail{
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}
.text{
    display: flex;
    align-content: center;
    min-height: 100vh;
    margin: 20;
    font-family: Arial, sans-serif;
}