<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DormSecure</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <div class="overlay"></div>

    <div class="title-container">
        <h1>DormSecure</h1>
    </div>

    <div class="button-container">
        <button class="btn-guest" onclick="window.location.href='{{ url_for('signup') }}';">Guest</button>
        <button class="btn-owner" onclick="window.location.href='{{ url_for('login') }}';">Owner</button>
    </div>
</body>
</html>
